<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

  <h1><%= title %></h1>
  <a href="/flights/new">ADD FLIGHTS</a>
  <a href="/flights">ALL FLIGHTS</a>
  
  <%- include('./partials/footer') %>
